@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.btn-choice {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

/* PUT YOUR OWN IMAGES HERE */
.btn-rock {
  background-image: url('pics/rock.avif');
}
.btn-paper {
  background-image: url('pics/paper.avif');
}
.btn-scissors {
  background-image: url('pics/scissors.jpg');
}

.score-icon {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
}

/* PLAYER - COMPUTER - TIE ICONS */
.icon-player {
  background-image: url('pics/player.avif');
}
.icon-computer {
  width: 80px;
  background-image: url('pics/computer.webp');
  background-size: cover;
  background-position: center;
}
.icon-tie {
  background-image: url('pics/tie.jpg');
}
